@model PaginatedList<Vehicle_Database_MVC.Models.Domain.VehicleModel>

@{
}

<h1>Vehicle Models</h1>

<form asp-action="IndexVehicleModel" method="get">
    <div class="form-actions no-color">
        <p>
            Find vehicle model by name or abbreviation: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="IndexVehicleModel">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th> <a asp-action="IndexVehicleModel" asp-route-sortOrder="@ViewData["IdSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"> Id </a> </th>
            <th>MakeId</th>
            <th> <a asp-action="IndexVehicleModel" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"> Vehicle Name </a> </th>
            <th><a asp-action="IndexVehicleModel" asp-route-sortOrder="@ViewData["AbrvSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"> Vehicle Abbreviation </a> </th>
            <th> </th>
        </tr>

    </thead>
    <tbody>
        @foreach(var vehicle in Model)
        {
            <tr>
                <td> @vehicle.Id</td>
                <td> @vehicle.MakeId</td>
                <td> @vehicle.VehicleName</td>
                <td> @vehicle.VehicleAbrv</td>
                <td><a href="ViewVehicleModel/@vehicle.Id">View</a> </td>
            </tr>
        }
    </tbody>



</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="IndexVehicleModel"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="IndexVehicleModel"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>